*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position: relative;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 60px;
    height: 50px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: #F4B183;
}

.detail{
    margin-left: 8%;
    margin-top: 15%;
}

.detail h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: orange;
    
}

.detail p{
    color: #555;
    line-height: 22px;
}

.detail a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}


.images:hover .shape{
    bottom: 40px;
}

.images:hover .photo{
    left: 45%;
}

.social{
    margin-left: 8%;
    margin-top: 100px;
}

.social a{
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
}

.social a:hover{
    color: orange;
}

footer{
   
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #d8eefe;
}

footer .footer_text {
    padding-top: 10px;
}
#about h1{
    justify-content: center;
    display: flex;
}

#about .container {
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: auto 70px;
        padding-top:70px ;
        padding-bottom: 70px;
       
}


#about .container .about_me {
    width: 80%;
}

#skills .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    padding: 20px 20px;
    padding-left: 120px;
    

}

#skills .seemore {
    
    display: flex;
    justify-content: end;
    padding-right: 200px;
    padding-top: 20px;
}

#skills h1{
    justify-content: center;
    display: flex;
    margin: 3rem 0;
}

.card {
        
    width: 275px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }
  
  .img-bx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(30px) scale(0.5);
    transform-origin: top;
  }
  
  .img-bx img {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0px;
    
  }
  
  .content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .content .detail h2 {
    color: #444;
    font-size: 1.2em;
    font-weight: bolder;
    padding-bottom: 5px;
  }
  
  .content .detail h2 span {
    font-size: 0.75em;
    color: #03a9f4;
    font-weight: bold;
  }

  #article h1{
    justify-content: center;
    display: flex;
    margin: 3rem 0;
  }

#article .container {
    display: flex;
    justify-content: center;
}
  .article-card {
    display: grid;
    grid-template-columns: 285px minmax(500px, 845px);
    width: 80%;
    border-radius: 10px;
    box-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.02),
                25px 25px 20px hsla(0, 0%, 0%, 0.03),
                100px 100px 80px hsla(0, 0%, 0%, 0.05);
  }
  
  
  .img-box {
    border-radius: 10px 0 0 10px;
    overflow: hidden;
  }
  
  .article-banner {
    width:  100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    transition: all 0.5s ease;
  }
  
  .article-card:hover .article-banner { transform: scale(1.1); }
  
  .article-content {
    background: var(--white);
    padding: 32px 40px;
    border-radius: 0 10px 10px 0;
  }
  
  .article-title {
    font-size: 20px;
    color: var(--very-dark-grayish-blue);
    margin-bottom: 12px;
    line-height: 1.4;
  }
  
  .article-text {
    color: var(--desaturated-dark-blue);
    font-size: var(--fs-13);
    line-height: 1.5;
    margin-bottom: 18px;
  }
  
  .acticle-content-footer {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
  }
  
  .author {
    display:     flex;
    align-items: center;
  }
  
  .author-avater {
    width:  40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .author-name {
    color: var(--very-dark-grayish-blue);
    font-size: var(--fs-13);
  }
  
  .publish-date {
    color: var(--grayish-blue);
    font-size: var(--fs-13);
  }
  

 
 